<h4 class="center">View All Posts</h4>
<input type="hidden" name="blog-id" value="{{blog.id}}" />
{{#each blogs as |blog| }}
<div class="divider"></div>
  <div class="section">
    <h5>{{blog.title}}</h5>
    <p>{{blog.description}}</p>
    <p>bloged By: {{blog.user_id}} on {{format_date createdAt}}</p>
  </div>
{{/each}}