<h1>  Home  </h1>
<h1>  Dashboard  </h1>
<h1>  Logout  </h1>

<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
       Dashboard
    </h2>
  </div>
  {{#each blogs as |blog|}}
    <div class='blog col-md-5'>
      <p>
        {{blog.id}}.
        {{blog.blog_name}}
      </p>
    </div>
    <div class='col-md-7'>
      <p>
        Guest:
        {{blog.user_name}}
      </p>
    </div>
  {{/each}}
  <div class='add-blog-container'>
    <h2>
      Please enter your blog below!
    </h2>
    <form class='new-blog-form'>
      <label for='blog_name'>
        Blog Name:
      </label>
      <br />
      <textarea id='blog_name' name='blog_name' rows='2' cols='30'>
        {{blog_name}}
      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{description}}
      </textarea>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>

